<?xml version="1.0" encoding="utf-8"?>
<!--
  Mirakel is an Android App for Managing your ToDo-Lists

  Copyright (c) 2013 Anatolij Zelenin, Georg Semmler.

      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      any later version.

      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.

      You should have received a copy of the GNU General Public License
      along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.azapps.mirakel.main_activity" >

    <uses-sdk android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application>
        <activity
            android:name="de.azapps.mirakel.main_activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.google.android.voicesearch.SELF_NOTE" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!-- android:launchMode="singleTop" -->



        <activity
            android:name="de.azapps.mirakel.widget.MainWidgetSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Dialog" />

        <receiver android:name="de.azapps.mirakel.widget.MainWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/provider_widget" />
        </receiver>
        <receiver
            android:name="de.azapps.mirakel.reminders.ReminderAlarm"
            android:enabled="true" >
        </receiver>

        <!-- The service serving the RemoteViews to the collection widget -->
        <service
            android:name="de.azapps.mirakel.widget.MainWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name="de.azapps.mirakel.model.MirakelContentProvider"
            android:authorities="de.azapps.mirakel.provider"
            android:exported="true"
            android:permission="de.azapps.mirakel.provider.READ_WRITE_DATA"
            android:readPermission="de.azapps.mirakel.provider.READ_DATA"
            android:writePermission="de.azapps.mirakel.provider.WRITE_DATA" />
        <provider
            android:name="de.azapps.mirakel.model.MirakelInternalContentProvider"
            android:authorities="de.azapps.mirakel.provider.internal"
            android:exported="true" />

        <service android:name="de.azapps.mirakel.services.NotificationService" />
        <service android:name="de.azapps.mirakel.services.TaskService" />

        <receiver
            android:name="de.azapps.mirakel.receivers.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
