<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="de.azapps.mirakel.new_ui" >

    <uses-sdk
        tools:node="replace"
        android:targetSdkVersion="L"
        android:minSdkVersion="11"/>
    <application>
        <activity
            android:name=".activities.MirakelActivity"
            android:theme="@style/MirakelBaseTheme"
            android:label="@string/title_activity_mirakel"
            android:uiOptions="none">
        </activity>
        <activity
            android:name=".activities.TaskActivity"
            android:theme="@style/MirakelBaseTheme"
            android:label="@string/title_activity_mirakel" >
        </activity>
    </application>

</manifest>
