<?xml version="1.0" encoding="utf-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Mirakel is an Android App for managing your ToDo-Lists
  ~
  ~   Copyright (c) 2013-2015 Anatolij Zelenin, Georg Semmler.
  ~
  ~       This program is free software: you can redistribute it and/or modify
  ~       it under the terms of the GNU General Public License as published by
  ~       the Free Software Foundation, either version 3 of the License, or
  ~       any later version.
  ~
  ~       This program is distributed in the hope that it will be useful,
  ~       but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~       GNU General Public License for more details.
  ~
  ~       You should have received a copy of the GNU General Public License
  ~       along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.azapps.mirakel.model">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <application>
        <provider
            android:name=".provider.MirakelContentProvider"
            android:authorities="de.azapps.mirakel.provider"
            android:exported="true"
            android:permission="de.azapps.mirakel.provider.READ_WRITE_DATA"
            android:readPermission="de.azapps.mirakel.provider.READ_DATA"
            android:writePermission="de.azapps.mirakel.provider.WRITE_DATA" />
        <provider
            android:name=".provider.MirakelInternalContentProvider"
            android:authorities="de.azapps.mirakel.provider.internal"
            android:exported="true" />
        <receiver
            android:name="de.azapps.mirakel.receivers.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="de.azapps.mirakel.services.NotificationService" />
        <service android:name="de.azapps.mirakel.services.TaskService" />

        <receiver
            android:name="de.azapps.mirakel.reminders.ReminderAlarm"
            android:enabled="true" >
        </receiver>
    </application>
</manifest>
