<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.azapps.mirakel.settings">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19"/>

    <application>
        <activity
            android:theme="@style/AppBaseTheme"
            android:name="de.azapps.mirakel.settings.activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_settings"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="de.azapps.mirakel.main_activity.MainActivity">
        </activity>
        <activity
            android:name="de.azapps.mirakel.settings.activities.DonationsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_donations"
            android:parentActivityName="de.azapps.mirakel.settings.activities.SettingsActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat"
            android:name="de.azapps.mirakel.settings.activities.AccountSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.SettingsActivity"
            android:label="@string/title_activity_credits">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.azapps.mirakel.static_activities.SettingsActivity"
                />
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat"
            android:name="de.azapps.mirakel.settings.activities.RecurringSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.SettingsActivity"
            android:label="@string/title_activity_credits">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.azapps.mirakel.static_activities.SettingsActivity"
                />
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat"
            android:name="de.azapps.mirakel.settings.activities.SpecialListsSettingsActivity"
            android:parentActivityName=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_credits">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.azapps.mirakel.static_activities.SettingsActivity"/>
        </activity>

        <activity
            android:theme="@style/Theme.AppCompat"
            android:name="de.azapps.mirakel.settings.activities.SemanticsSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.SettingsActivity"
            android:label="@string/title_activity_credits">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.azapps.mirakel.static_activities.SettingsActivity"/>
        </activity>

        <activity
            android:theme="@style/Theme.AppCompat"
            android:name="de.azapps.mirakel.settings.activities.TagsSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_credits" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.azapps.mirakel.static_activities.SettingsActivity"/>
        </activity>
    </application>
</manifest>
